* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #FFEFE7;
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  width: 100%;
  height: 60px;
}
header .nav-menu {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin: 0 auto;
}
header .nav-menu .logo {
  color: #7C6A0A;
  font-size: 1.4rem;
}
header .nav-menu .nav-menu__container-icons {
  display: flex;
  list-style: none;
}
header .nav-menu .nav-menu__container-icons .icon-destok {
  display: none;
}

main {
  width: 100%;
  height: auto;
}
main .hero {
  width: 90%;
  margin: 0 auto;
}
main .hero .hero-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .hero .hero-container img {
  width: 100%;
  height: 368px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero .hero-container .hero-container__information {
  padding: 20px 2px;
}
main .hero .hero-container .hero-container__information h1 {
  color: #7C6A0A;
  font-size: 2.4rem;
  line-height: 2.7rem;
  padding-bottom: 15px;
}
main .hero .hero-container .hero-container__information p {
  color: #7C6A0A;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
main .hero .hero-container .hero-container__information button {
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: #FA9500;
  color: #FFEFE7;
  margin: 10px 0;
}
main .product-section {
  width: 100%;
}
main .product-section h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #7C6A0A;
  padding-left: 19px;
  padding-bottom: 30px;
}
main .product-section .title-furniture {
  margin-top: 15px;
}
main .product-section .product-container-healthcare, main .product-section .product-container-furniture {
  width: 90%;
  display: flex;
  gap: 10px;
  height: 345px;
  overflow-x: scroll;
  margin: 0 auto;
}
main .product-section .product-container-healthcare .healthcare-content__card, main .product-section .product-container-furniture .healthcare-content__card, main .product-section .product-container-furniture .furniture-content__card {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 200px;
  min-width: 200px;
  height: 320px;
  background-color: #FFDAC6;
  color: #7C6A0A;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
main .product-section .product-container-healthcare .healthcare-content__card .icon, main .product-section .product-container-furniture .healthcare-content__card .icon, main .product-section .product-container-furniture .furniture-content__card .icon {
  align-self: end;
  padding: 5px;
}
main .product-section .product-container-healthcare .healthcare-content__card .image, main .product-section .product-container-furniture .healthcare-content__card .image, main .product-section .product-container-furniture .furniture-content__card .image {
  width: 160px;
  height: 180px;
}
main .product-section .product-container-healthcare .healthcare-content__card .image img, main .product-section .product-container-furniture .healthcare-content__card .image img, main .product-section .product-container-furniture .furniture-content__card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .product-section .product-container-healthcare .healthcare-content__card h3, main .product-section .product-container-furniture .healthcare-content__card h3, main .product-section .product-container-furniture .furniture-content__card h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  align-self: start;
  padding: 10px 19px;
}
main .product-section .product-container-healthcare .healthcare-content__card p, main .product-section .product-container-furniture .healthcare-content__card p, main .product-section .product-container-furniture .furniture-content__card p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-left: 19px;
}
main .product-section .product-container-furniture .furniture-content__card {
  background-color: #BABD8D;
  color: #FFEFE7;
}
main .info-section {
  margin-bottom: 10px;
}
main .info-section h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #7C6A0A;
  padding-left: 19px;
  padding-bottom: 80px;
  margin-top: 15px;
}
main .info-section .container-aboutus__information {
  width: 90%;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0 auto;
}
main .info-section .container-aboutus__information .information__mission, main .info-section .container-aboutus__information .information__innovation {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5px;
}
main .info-section .container-aboutus__information .information__mission p, main .info-section .container-aboutus__information .information__innovation p {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #E86424;
  text-align: center;
}
main .info-section .container-aboutus__information .information__innovation {
  margin-top: 20px;
  margin-bottom: 10px;
}
main .info-section .title-gallery {
  padding-bottom: 30px;
}
main .info-section .container-gallery {
  width: 90%;
  margin: 0 auto;
}
main .info-section .container-gallery .container-gallery__photos {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
main .info-section .container-gallery .container-gallery__photos img {
  width: 100%;
  max-width: 320px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
main .info-section .title-location {
  padding-bottom: 30px;
}
main .info-section .container-location {
  width: 90%;
  margin: 0 auto;
}
main .info-section .container-location article img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .info-section .container-location article h3 {
  color: #FA9500;
  margin-top: 5px;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
}
main .info-section .container-location article p {
  color: #FA9500;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

footer {
  width: 100%;
  height: auto;
  background-color: #FA9500;
  color: #FFEFE7;
  padding: 10px 0;
}
footer .container-footer {
  width: 90%;
  margin: 0 auto;
}
footer .container-footer .logo-footer {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-bottom: 10px;
}
footer .container-footer .container-icons__footer {
  display: flex;
  gap: 5px;
  place-items: center;
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */