$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $primary-color;
    font-size: 62.5%;
    font-family: $font-stack;
}

@mixin tablet(){
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin portatil(){
    @media screen and (min-width: 1024px) {
        @content;
    }
}

// Aca estilos del header
header {
    width: 100%;
    height: 60px;

    .nav-menu {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        place-items: center;
        margin: 0 auto;

        .logo {
            color: #7C6A0A;
            font-size: 1.4rem;
            font-weight: 600;
        }

        .nav-menu__container-icons {
            display: flex;
            list-style: none;

            .icon-destok {
                display: none;
            }
        }
    }
}

main {
    width: 100%;
    height: auto;

    .hero {
        width: 90%;
        margin: 0 auto;

        .hero-container {
            width: 100%;
            // max-width: 900px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include tablet(){
                flex-direction: row-reverse;
                justify-content: space-between;
                place-items: center;
                gap: 50px;
            }
            @include portatil(){
                gap: 100px;
                padding-top: 50px;
                padding-bottom: 50px;
            }
            .hero-container__image{
                width: 100%;
                img {
                    width: 100%;
                    height: 368px;
                    object-fit: cover;
                    border-radius: 8px;
                    @include portatil(){
                        height: 500px;
                        border-radius: 10px;
                    }
                }
            }
            

            .hero-container__information {
                padding: 20px 2px;

                h1 {
                    color: $primary-text-color;
                    font-size: 2.4rem;
                    line-height: 2.7rem;
                    padding-bottom: 15px;
                }

                p {
                    color: $primary-text-color;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    @include tablet(){
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                    }
                }

                button {
                    width: 110px;
                    height: 40px;
                    border: none;
                    border-radius: 50px;
                    background-color: #FA9500;
                    color: $primary-color;
                    margin: 10px 0;
                    cursor: pointer;
                    @include portatil(){
                        width: 130px;
                    }
                }

            }
            
        }
    }

    .product-section {
        width: 100%;
        height: auto;

        h2 {
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: $primary-text-color;
            padding-left: 19px;
            padding-bottom: 30px;
            @include tablet(){
                padding-left: 40px;
                font-size: 2.0rem;
                line-height: 2.4rem;
            }
            @include portatil(){
                padding-left: 72px;
            }
        }

        .title-furniture {
            margin-top: 15px;
        }

        .product-container-healthcare {
            width: 90%;
            display: flex;
            gap: 10px;
            height: auto;
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
            margin: 0 auto;
            @include portatil(){
                overflow-x: visible;
                flex-wrap: wrap;
                justify-content: space-evenly;
                row-gap: 60px;
                column-gap: 100px;
                max-width: 1000px;
            }


            .healthcare-content__card {
                display: flex;
                flex-direction: column;
                place-items: center;
                width: 200px;
                min-width: 200px;
                height: 320px;
                background-color: $secondary-color;
                color: $primary-text-color;
                border-radius: 5px;
                box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

                .icon {
                    align-self: end;
                    padding: 5px;
                    cursor: pointer;
                }

                .image {
                    width: 160px;
                    height: 180px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h3 {
                    font-size: 1.6rem;
                    line-height: 2.0rem;
                    align-self: start;
                    padding: 10px 19px;
                }

                p {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    padding-left: 19px
                }
            }
        }


        .product-container-furniture {
            @extend .product-container-healthcare;

            .furniture-content__card {
                @extend .healthcare-content__card;
                background-color: $tertiary-color;
                color: $primary-color;
            }
        }
    }

    // .product-container-healthcare::-webkit-scrollbar-thumb{
    //     background-color: #FA9500;
    // }

    .info-section {
        margin-top: 50px;
        margin-bottom: 10px;

        h2 {
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: $primary-text-color;
            padding-left: 19px;
            padding-bottom: 80px;
            margin-top: 15px;
            @include tablet(){
                padding-left: 40px;
            }
        }

        .container-aboutus__information {
            width: 90%;
            max-width: 900px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-items: center;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
            @include tablet(){
                flex-direction: row;
            }

            .information__mission {
                display: flex;
                flex-direction: column;
                place-items: center;
                gap: 5px;
                @include tablet(){
                    flex-direction: row;
                }

                p {
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    color: #E86424;
                    text-align: center;
                }
            }

            .information__innovation {
                @extend .information__mission;
            }
        }

        .title-gallery {
            padding-bottom: 30px;
        }

        .container-gallery {
            width: 90%;
            margin: 0 auto;

            .container-gallery__photos {
                display: flex;
                flex-direction: column;
                place-items: center;
                gap: 10px;
                margin-bottom: 20px;
                
                @include tablet(){
                    flex-direction: row;
                    justify-content: space-evenly;
                }
                @include portatil(){
                    gap: 80px;
                }

                img {
                    width: 100%;
                    max-width: 320px;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 8px;
                    &:hover{
                        transform: scale(1.1);
                        transition-duration: 0.3s ;
                    }
                }
            }
        }

        .title-location {
            padding-bottom: 30px;
        }

        .container-location {
            width: 90%;
            margin: 0 auto;

            article {
                img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }

                h3 {
                    color: #FA9500;
                    margin-top: 5px;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    font-weight: 700;
                }

                p {
                    color: #FA9500;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
        }
    }

}

footer {
    width: 100%;
    height: auto;
    background-color: #FA9500;
    color: $primary-color;
    padding: 10px 0;

    .container-footer {
        width: 90%;
        margin: 0 auto;

        .logo-footer {
            font-size: 1.4rem;
            line-height: 1.8rem;
            padding-bottom: 10px;
        }

        .container-icons__footer {
            display: flex;
            gap: 5px;
            place-items: center;
            margin-top: 20px;
            @include tablet(){
                justify-content: center;
            }
        }
    }
}

