$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: $primary-color;
    font-size: 62.5%;
    font-family: $font-stack;
}

// Aca estilos del header
header{
    width: 100%;
    height: 60px;
    .nav-menu{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        place-items: center;
        margin: 0 auto;
        .logo{
            color: #7C6A0A;
            font-size: 1.4rem;
        }
        .nav-menu__container-icons{
            display: flex;
            list-style: none;
            .icon-destok{
                display: none;
            }
        }
    }
}

main{
    width: 100%;
    height: auto;
    .hero{
        width: 90%;
        margin: 0 auto;

        .hero-container{
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
               width: 100%;
               height: 368px;
               object-fit: cover;
           }
           .hero-container__information{
            padding: 15px;
            h1{
                color: $primary-text-color;
                font-size: 2.4rem;
                line-height: 2.7rem;
                padding-bottom: 15px;
            }
            p{
                color: $primary-text-color;
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
            button{
                width: 110px;
                height: 40px;
                border: none;
                border-radius: 50px;
                background-color: #FA9500;
                color: $primary-color;
                margin-top: 10px;
            }
           }
       }
    }
   
}